OPENAI_MODEL=gpt-4
OPENAI_API_KEY=

ELEVEN_LABS_API_KEY=
ELEVEN_LABS_VOICE_ID=
ELEVEN_LABS_MODEL_ID=eleven_multilingual_v1

LOCAL_RAG_URL=http://localhost:5000
LOCAL_RAG_API_KEY=
USE_LOCAL_RAG=true

VOICE_CLONER_URL=http://localhost:7007
VOICE_CLONER_API_KEY=
VOICE_CLONER_VOICE_ID=
USE_LOCAL_VOICE=true
